<nav class="menu-bar d-flex flex-row justify-content-between align-items-center position-relative px-5 py-3 w-100">

    <!--Log and title section-->
    <div class="logo-title d-flex flex-grow-1 align-items-center">
        <img src="assets/ICDigitalss.png">
    </div>

    <!--Menu list section-->
    <menu class="menu d-flex justify-content-center position-absolute">
        <ul class="menu-list d-flex flex-row align-content-center justify-content-center">
            <li (click)="pageRouter('/home')">Home</li>
            <li (click)="pageRouter('/explore')">Explore</li>
            <li (click)="pageRouter('/appointment')">Appointment</li>
            <li (click)="pageRouter('/account')">Account</li>
        </ul>
    </menu>

    <!--Log In and Sing Up Section-->
    <div class="auth-section d-flex flex-grow-1 justify-content-end align-items-center">
        <button class="log-in-btn">Log In</button>
        <button class="sign-up-btn">Sign Up</button>
    </div>

    <div class="profile d-flex align-items-center justify-content-center">
            <img src="assets/Profile Pic.png">
    </div>
</nav>
