<nav class="d-flex flex-row w-100 justify-content-between align-items-center px-5 py-3">

    <!--Log and title section-->
    <div class="logo-title d-flex flex-auto align-items-center justify-content-center">
        <p>ICDigitalss</p>
    </div>

    <!--Menu list section-->
    <menu class="menu d-flex justify-content-center">
        <ul class="menu-list d-flex flex-row align-content-center justify-content-center">
            <li (click)="pageRouter('/home')">Home</li>
            <li (click)="pageRouter('/explore')">Explore</li>
            <li (click)="pageRouter('/appointment')">Appointment</li>
            <li (click)="pageRouter('/account')">Account</li>
        </ul>
    </menu>

    <!--Log In and Sing Up Section-->
    <div class="d-flex flex-auto align-items-center">
        <button>Log In</button>
        <button>Sign Up</button>
    </div>

    <div>
        
    </div>
</nav>
