.authentication-section{
    
    margin-top: 10rem;

    button{
        width: 30%;
        height: 70px;
        margin: 0.5rem 0;
        font-size: 1.5rem;
        color: var(--1-colour);
        background-color: var(--7-colour);
        border: none;
        border-radius: 1rem;
    }
    button:hover{
        opacity: 70%;
    }
}