/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap-grid";

// Add as many as you need
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap";

:root {
    --1-colour: #F3F8FC;
    --2-colour: #E6F1F8;
    --3-colour: #C7E1F0;
    --4-colour: #95C9E4;
    --5-colour: #5CACD4;
    --6-colour: #3997C6;
    --7-colour: #2775A2;
    --8-colour: #215E83;
    --9-colour: #1F506D;
    --10-colour: #1E445C;
    --11-colour: #142C3D;

}